<div class="content">

    <h4 mat-dialog-title>This is a template for any Angular project.</h4>
    <h5>Version {{ this.globalService.Vars.value.version }}</h5>
    <p>This includes :</p>
    <ul>
        <li>Basic User Authentication (component and service)</li>
        <li>Logger (service)</li>
        <li>Material Design</li>
        <li>A default top menu bar (component)</li>
        <li>Dynamic Theming (component and service)</li>
        <li>Dynamic Multi-Language support with ngx-translate (component)</li>
        <li>Preserve User Settings (service)</li>
        <p></p>
    </ul>

    <mat-dialog-actions>
        <div class="button">
            <button mat-raised-button [mat-dialog-close]="true">{{ "btn.exit" | translate }}</button>
        </div>
    </mat-dialog-actions>

</div>