<div class="content">

    <h4>This is a template for any Angular project.</h4>
    <p>This includes :</p>
    <ul>
        <li>Basic User Authentication (component and service)</li>
        <li>Logger (service)</li>
        <li>Material Design</li>
        <li>A default top menu bar (component)</li>
        <li>Dynamic Theming (component and service)</li>
        <li>Dynamic Multi-Language support with ngx-translate (component)</li>
        <li>Preserve User Settings (service)</li>
        <p></p>
    </ul>

    <div class="center-div">
        <button mat-raised-button>{{ "btn.ok" | translate }}</button>
    </div>

</div>