// table, td {
//     border: 1px solid black;
//     // border-collapse: collapse;
//   }

.pic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }

.name {
    padding: 10px;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
}

.details {
    padding-left: 12px;
    padding-top: 5px;
    text-align: left;
    vertical-align: top;
}

.mat-badge-content {
    font-family: 'Material Icons';
}

mat-form-field  {
    // height: 60px;
    width: 500px;
}

mat-card {
    width: 550px;
}