// :host {
//     // display: flex;
//     // justify-content: center;
//     margin: 10px;
//     padding: 10px;
//   }

img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
  }

.mat-badge-content {
    font-family: 'Material Icons';
}

mat-form-field  {
    // height: 60px;
    width: 500px;
}