<!-- Main Page -->

<app-main-top-menu [menuTitle]="title"></app-main-top-menu> <!-- {{ title }} from app.component -->

<main class="main">
    <div class="content">

        <!-- <button class="button" mat-flat-button (click)="switchLanguage('en-US')">en-US</button> -->
        <!-- <button class="button" mat-flat-button (click)="switchLanguage('fr-FR')">fr-FR</button> -->
        <!-- <button class="button" mat-flat-button (click)="switchLanguage('es-ES')">es-ES</button> -->
        <!-- <button class="button" mat-flat-button (click)="switchLanguage('de-DE')">de-DE</button> -->
        <app-language-manager></app-language-manager>
        <br>
        <!-- <p> BrowserCultureLang : {{ BrowserCultureLang }} </p> -->
        <!-- <p> BrowserLang : {{ BrowserLang }}</p> -->
        <!-- <p> InstalledLanguages : {{ InstalledLanguages }}</p> -->
        <br>
        <button class="button" mat-flat-button>Material Button</button>
        <br>
        <button class="button" mat-flat-button>{{ "btn.ok" | translate }}</button>
        <button class="button" mat-flat-button>{{ "btn.cancel" | translate }}</button>
        <button class="button" mat-flat-button>{{ "btn.exit" | translate }}</button>

    </div>
</main>

<router-outlet />