

<app-main-top-menu [menuTitle]="title"></app-main-top-menu> <!-- {{ title }} from app.component -->

<div>Coucou</div>
<div>{{ "Cancel" | translate }}</div>

<main class="main">
    <div class="content">

        <button class="button" mat-flat-button>Material Button</button><button class="button" mat-flat-button>{{ "OK" | translate }}</button><br>
        <button class="button" mat-flat-button>{{ "Cancel" | translate }}</button><button class="button" mat-flat-button>{{ "Exit" | translate }}</button>

    </div>
</main>

<router-outlet />