<div class="content">
    <td>
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>{{ "user.title" | translate }}</mat-card-title>
                <span class="spacer"></span>
                <mat-icon color="primary">account_box</mat-icon>
            </mat-card-header>
            <mat-card-content>
                <br>
                <!-- <div matBadge="person" matBadgePosition="below" matBadgeOverlap="false" >Text with a badge</div> -->
                <table width="500">
                    <tr class="head">
                        <td class="pic" rowspan="2"><img class="pic" mat-card-md-image
                                src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="User picture">
                        </td>
                        <td class="name" height="20">Vincent PAPUCHON</td>
                    </tr>
                    <tr>
                        <td class="details">{{ "user.role" | translate }}: {{ this.globalService.Vars.value.user.role }}</td>
                    </tr>
                </table>
                <br>
                <mat-form-field><mat-label>{{ "user.login" | translate }}</mat-label><input matInput
                        value="{{ this.globalService.Vars.value.user.login_Name }}"></mat-form-field><br><br>
                <mat-form-field><mat-label>{{ "user.id" | translate }}</mat-label><input matInput
                        value="{{ this.globalService.Vars.value.user.id }}"></mat-form-field><br><br>
                <mat-form-field><mat-label>{{ "user.firstName" | translate }}</mat-label><input matInput
                        value="{{ this.globalService.Vars.value.user.first_Name }}"></mat-form-field><br><br>
                <mat-form-field><mat-label>{{ "user.lastName" | translate }}</mat-label><input matInput
                        value="{{ this.globalService.Vars.value.user.last_Name }}"></mat-form-field><br><br>
                <mat-form-field><mat-label>{{ "user.email" | translate }}</mat-label><input matInput
                        value="{{ this.globalService.Vars.value.user.email }}"></mat-form-field><br><br>
                <mat-form-field><mat-label>{{ "user.phone" | translate }}</mat-label><input matInput type="tel"
                        value="{{ this.globalService.Vars.value.user.phone }}"></mat-form-field><br><br>
                <mat-form-field><mat-label>{{ "user.role" | translate }}</mat-label><input disabled="true" matInput
                        value="{{ this.globalService.Vars.value.user.role }}"></mat-form-field><br><br>
            </mat-card-content>
        </mat-card>
    </td>

    <td>
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>{{ "language" | translate }}</mat-card-title>
                <span class="spacer"></span>
                <mat-icon color="primary">language</mat-icon>
            </mat-card-header>
            <mat-card-content>
                <br>
                <app-language-manager></app-language-manager>
            </mat-card-content>
        </mat-card>
        <mat-card appearance="outlined">
            <mat-card-header>
                <mat-card-title>{{ "theme" | translate }}</mat-card-title>
                <span class="spacer"></span>
                <mat-icon color="primary">palette</mat-icon>
            </mat-card-header>
            <mat-card-content>
                <br>
                <app-theme-manager></app-theme-manager>
            </mat-card-content>
        </mat-card>
    </td>

</div>