/* You can add global styles to this file, and also import other style files */

@import "./App/themes/themes.scss";

html, body { 
    height: 100%; 
  }

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
  }

.spacer {
    flex: 1 1 auto;
  }

.vertival-align {
    padding: 0 5px;
    white-space: normal;
    word-break: break-word;
    display: flex;
    align-items: center;
  }

.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.small-toggle {
    transform: scale(0.5);
  }

button {
    margin: 5px;
  }

.container {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

mat-card{
  // width: fit-content;
  width: 80%;
  padding: 10px;
}