// /* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --sidenav-width: 300px;
}

.spacer {
  flex: 1 1 auto;
}

.vertival-align {
  padding: 0 5px;
  white-space: normal;
  word-break: break-word;
  display: flex;
  align-items: center;
}

button {
  margin: 5px;
  // display: flex;
  // justify-content: flex-end;
}

mat-card {
  width: fit-content;
  margin: 10px;
  padding: 10px;
}