/* You can add global styles to this file, and also import other style files */
@import "./App/Themes/themes.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
    flex: 1 1 auto;
  }

.vertival-align {
    padding: 0 5px;
    white-space: normal;
    word-break: break-word;
    display: flex;
    align-items: center;
  }