<div class="content">

    <!--
    This is an exanple content.
    All between this two comments can be deleted
    -->

    <div class="center-div">
        <mat-card appearance="outlined">
            <mat-card-title>{{ this.globalService.Vars.value.title }}</mat-card-title>
            <mat-card-content>
                <h4>This is a template for any Angular project.</h4>
                <p>This includes :</p>
                <ul>
                    <li>Basic User Authentication (component and service)</li>
                    <li>Material Design</li>
                    <li>A default top menu bar (component)</li>
                    <li>Dynamic Theming (component and service)</li>
                    <li>Dynamic Multi-Language support with ngx-translate (component)</li>
                    <li>Preserve User Settings (service)</li>
                    <p></p>
                </ul> 

                <div class="center-div">
                    <button mat-raised-button>Material Button</button>
                    <button mat-raised-button>{{ "btn.ok" | translate }}</button>
                    <button mat-raised-button>{{ "btn.cancel" | translate }}</button>
                    <button mat-raised-button>{{ "btn.exit" | translate }}</button>
                </div>

        </mat-card-content>
        </mat-card> 
    </div>   
    
    <!--
    End comment
    -->

</div>