
<mat-card>
    <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <form>
                <p>
                    <mat-form-field [style.width.px]=400>
                        <mat-label>User Name</mat-label>
                        
                        <input matInput type="text" [(ngModel)]="username" name="something">
                        @if (username) {
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
                            <mat-icon>close</mat-icon>
                            </button>
                        }
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field [style.width.px]=400>
                        <mat-label>Password</mat-label>
                        
                        <input matInput type="password" [(ngModel)]="password" name="something2">
                        @if (password) {
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
                            <mat-icon>close</mat-icon>
                            </button>
                        }
                    </mat-form-field>
                </p>
                <div class="button">
                    <button mat-raised-button type="submit" (click)="signIn()">Login</button>
              </div>
            </form>
        </mat-card-content>
</mat-card>
