
<mat-card appearance="outlined">
    <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <form>
                <br>
                <p>
                    <mat-form-field [style.width.px]=400>
                        <mat-label>User Name</mat-label>
                        
                        <input matInput type="text" (keydown.enter)="$event.preventDefault()" [formControl]="nameFormControl">
                        @if (this.nameFormControl.value) {
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearUsername()">
                            <mat-icon>close</mat-icon>
                            </button>
                        }
                        @if (nameFormControl.hasError('required')) {
                            <mat-error>User Name is <strong>required</strong></mat-error>
                          }
                    </mat-form-field>
                </p>

                <p>
                    <mat-form-field [style.width.px]=400>
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="passFormControl">
                        <button matSuffix mat-icon-button (click)="clickEvent($event)" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()"> 
                        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon></button>
                        @if (this.passFormControl.value) {
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearPassword()">
                            <mat-icon>close</mat-icon></button>
                        }
                        @if (passFormControl.hasError('required')) {
                            <mat-error>Password is <strong>required</strong></mat-error>
                          }
                        @if (passFormControl.hasError('minlength')) {
                            <mat-error>Password length must be at least <strong>12</strong></mat-error>
                        }
                        @if (passFormControl.hasError('pattern')) {
                            <mat-error>Password <strong>complexity</strong> is not satisfied</mat-error>
                        }
                      </mat-form-field>
                </p>

                <div class="button">
                    <button mat-raised-button (click)="signIn()" [disabled]="nameFormControl.errors || passFormControl.errors">Login</button>
              </div>
            </form>
        </mat-card-content>
</mat-card>
